<app-header headerName="Administración"></app-header>

<ion-content class="ion-padding" color="secondary">
  <ion-grid>
    <ion-row>
      <ion-col size="6" sizeMd="4" sizeLg="3">
        <ion-card button (click)="goToUsers()" class="menu-card">
          <div class="menu-icon-wrapper">
            <ion-icon name="people" class="menu-icon"></ion-icon>
          </div>
          <ion-card-title class="menu-title">Usuarios</ion-card-title>
          <ion-card-content class="menu-subtitle">
            Gestionar usuarios
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" sizeMd="4" sizeLg="3" *ngFor="let entity of entities">
        <ion-card button (click)="goToEntity(entity)" class="menu-card">
          <div class="menu-icon-wrapper">
            <ion-icon name="grid" class="menu-icon"></ion-icon>
          </div>
          <ion-card-title class="menu-title">{{ entity.plural }}</ion-card-title>
          <ion-card-content class="menu-subtitle">
            Gestionar {{ entity.plural.toLowerCase() }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>
