<app-header headerName="Salida Vehículo"></app-header>

<ion-content class="ion-padding" color="secondary" fullscreen>

  <ion-card>
    <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="guardar()">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label position="floating">Placa</ion-label>
                    <ion-input
                      formControlName="placa"
                      type="text"
                      maxlength="6"
                      autocapitalize="characters"
                    ></ion-input>
                  </ion-item>
                  <ion-text color="danger" *ngIf="campoValido('placa')">
                    <p class="ion-padding-start">{{ mensajeErrorPlaca() }}</p>
                  </ion-text>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                        <ion-label>Tipo Vehículo</ion-label>
                        <ion-text>
                          <p class="ion-padding-start">{{ form.get('tipoVehiculo')?.value }}</p>
                        </ion-text>
                      </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item>
                    <ion-label>Tipo Tarifa</ion-label>
                    <ion-text>
                      <p class="ion-padding-start">{{ form.get('tipoTarifa')?.value }}</p>
                    </ion-text>
                  </ion-item>
                </ion-col>
          
                <ion-col size="6">
                  <ion-item>
                    <ion-label position="stacked">Fecha Entrada</ion-label>
                    <ion-text>
                      <p class="ion-padding-start">{{ form.get('fechaEntrada')?.value }}</p>
                    </ion-text>
                  </ion-item>
                </ion-col>
          
                <ion-col size="6">
                  <ion-item>
                    <ion-label position="stacked">Hora Entrada</ion-label>
                    <ion-text>
                      <p class="ion-padding-start">{{ form.get('horaEntrada')?.value }}</p>
                    </ion-text>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item>
                      <ion-label position="stacked">Fecha Salida</ion-label>
                      <ion-text>
                        <p class="ion-padding-start">{{ form.get('fechaSalida')?.value }}</p>
                      </ion-text>
                    </ion-item>
                  </ion-col>
            
                  <ion-col size="6">
                    <ion-item>
                      <ion-label position="stacked">Hora Salida</ion-label>
                      <ion-text>
                        <p class="ion-padding-start">{{ form.get('horaSalida')?.value }}</p>
                      </ion-text>
                    </ion-item>
                  </ion-col>
                <ion-col size="6">
                  <ion-item>
                    <ion-label position="stacked">Tiempo</ion-label>
                    <ion-text>
                      <p class="ion-padding-start">{{ form.get('tiempo')?.value }}</p>
                    </ion-text>
                  </ion-item>
                </ion-col>
          
                <ion-col size="6">
                  <ion-item>
                    <ion-label position="stacked">Subtotal</ion-label>
                    <ion-text>
                      <p class="ion-padding-start">
                        {{ form.get('subtotal')?.value | currency: 'COP':'symbol':'1.0-0':'es-CO' }}
                      </p>
                    </ion-text>
                  </ion-item>
                </ion-col>
          
                <ion-col size="6">
                  <ion-item>
                    <ion-label position="stacked">Valor IVA (19%)</ion-label>
                    <ion-text>
                      <p class="ion-padding-start">
                        {{ form.get('iva')?.value | currency: 'COP':'symbol':'1.0-0':'es-CO' }}
                      </p>
                    </ion-text>
                  </ion-item>
                </ion-col>
          
                <ion-col size="6">
                  <ion-item>
                    <ion-label position="stacked">Valor a Pagar</ion-label>
                    <ion-text>
                      <p class="ion-padding-start">
                        {{ form.get('pagar')?.value | currency: 'COP':'symbol':'1.0-0':'es-CO' }}
                      </p>
                    </ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>
          
              <!-- Botones -->
              <ion-row class="ion-margin-top">
                <ion-col size="6">
                  <ion-button expand="block" color="tertiary" (click)="consultar()">Consultar</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button expand="block" (click)="cobrar()" color="primary" [disabled]="!form.get('pagar')?.value">Confirmar</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>          
    </ion-card-content>
  </ion-card>
  <app-footer></app-footer>
</ion-content>