.header-blanco {
    --background: #ffffff;
    --border-width: 0;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04);
}

.titulo-oscuro {
    color: #0f172a;
    /* Gris pizarra casi negro */
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
}