.back-button-adjust {
  margin-top: 8px; // ajusta el valor a lo que necesites
}

ion-button {
	ion-badge {
	    position: absolute;
    opacity: 0.9;
    top: 10;
    right: 0;
    font-size: 10px;
    background-color: lightcoral;
    color: black;
    padding: 3px;
		& ~ ion-icon {
			margin-right: 1.2rem;
		}
	}
}
.wrap-text {
  overflow: visible;
  text-overflow: unset;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-all;
}